

.App{
    display: flex;
    flex-direction: column;
   // background-image: url("..../public/icon.png");
   // background-repeat: no repeat;
   // background-position: cover;
    height: 100vh;
}


