@import 'variables';


.header{
    display: flex;
    align-content: center;
    padding: 20px 20px;
    background-color: #1D9BF0;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
    font-size: 30px;
    @include mobile{
        flex-direction: column;
        align-items: start;
        width: 100%;
        height: 120px;
        font-size: 20px;
        padding: 5px;
    }
}


.header--icon{
    display: flex;
    height: 40%;
    max-width: 300px;
    align-self: flex-start;

    @include mobile{
        height: 60px;
        width: 50%;
    }
}


