
.header{
    display: flex;
    align-content: center;
    padding-left: 20px;
    background-color: #1D9BF0;
    top: 0;
    left: 0;
    height: 100px;
    color: white;
    font-size: 30px;
}


.header--icon{
    height: 40%;
    width: 300px;
    align-self: center;
    background-color: #1D9BF0;
}

H4{
margin-left: 20px;
align-self: center;
}