@import 'variables';

.home--container{
    max-width: 800px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 0 2%;
    margin: 0 auto;
   // background-image: url('/public/icon.png');
   // background-repeat: repeat-y;
   // background-size: 30%;
   // background-position: center;
        @include mobile{
            width: 100%;
            padding: 0 1%;
        }

  }

.main{

    height: 100vh;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #DFDFDF;
    padding: 20px;
    opacity: 0.8;
        @include mobile{
            width: 100%;
            flex-flow: wrap;
            padding: 0;
        }
   
}

.profile--image{
    @include profileImages;
}



.post--button{
    width: 30%;
    height: 2rem;
    margin: 1rem;
    background-color: #1D9BF0;
    color:#ECECEC;
}

.all-posts{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    @include mobile{
        
        flex-direction: column;
    }
}



.publisher--image{
width: 50px;
height: 50px;
}

.post--wrap{
    @include mobile{
        display: flex;
        width: 95%;
    }
}




