@import 'variables';

.home--container{
    max-width: 800px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 0 2%;
    margin: 0 auto;
   // background-image: url('/public/icon.png');
   // background-repeat: repeat-y;
   // background-size: 30%;
   // background-position: center;
        @include mobile{
            width: 100%;
            padding: 0 1%;
        }

  }

.main{

    height: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #DFDFDF;
    padding: 20px;
    opacity: 0.8;
    //position: relative;
        @include mobile{
            width: 100%;
            flex-flow: wrap;
            padding: 0;
        }
   
}
.profile--imgdiv{
    display: flex;
    width: 100%;
    @include mobile{
        justify-content:space-between
    }
}

.header--image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    left: 0;
}

.all-posts{
    display: flex;
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid grey;
    align-items: flex-start;
    margin-top: 0;
    @include mobile{
        
        flex-direction: column;
    }






}



.publisher--image{
width: 50px;
height: 50px;
}

.post--wrap{
    @include mobile{
        display: flex;
        width: 95%;
    }
}






