@import 'variables';





.post--div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    z-index: 2;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  
    @include mobile{
        width: 90%;
        flex-direction: column;
    }

    @include mobile-l{
        
        flex-direction: row;
        align-items: center;
    }
}

.post--link{
    text-decoration: none;
    padding-bottom: 10px;

    &:visited{
        color: black;
    }
}

.post-text-div{
    max-width: 600px;
    display: flex;
    justify-self: center;
    width: 80%;

    @include mobile{
        width: 95%;
        flex-direction: column;
    }
}

.post-size{
    
    max-width: 600px;
    font-size: 2rem;

    img{
        max-width: 400px;
        max-height: 350px;
        
    }

    @include mobile{
        width: 100%;
        flex-direction: column;
        font-size: 1rem;
        
    }

}


.publisher-container{
    
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 20%;

    @include tablet{
        flex-direction: column; 
    }
    
    
    @include mobile{
        flex-direction: row;
        justify-self: flex-start;
        margin-right: auto;
        

    }
    
    @include tablet{
        flex-direction: column; 
    }

    }

.username--div{
    display: flex;
    justify-content: flex-start; 
    
}

.username--span{
    margin-left: 0 !important;
    
   

}
h4{
    margin-block-start: 0;
    margin-block-end: 0;

    @include mobile{
        margin-left: 0;
    }
}

.time--div{
    display: flex;
    @include mobile{
        margin-left: 0;
    }
    
}


.story-div{
    width: 95%;
}
.story-image-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



    img{
        width: 100%;
    }
}

    



.liked--div{
    color: #1D9BF0;
}


.icons--div{
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.icons {
    display: flex;
    padding-right: 20px;
    width: 20%;
    align-items: center;
    color: #1D9BF0 ;
    font-weight: 700;
    font-size: large;

    @include mobile{
        padding-right: 10px;
        color: #161515 ;
        
    }
}

.icons--likes{
    @include mobile{
        
        font-weight: 700;
        font-size: 30px;
    }
}

.button--edit{
    @include button-bg($color-primary);
    margin-right: 20px;
}

.delete--post{
    @include button-bg($color-delete-btn); 
    margin-right: 20px;
    
    @include mobile{
        font-size: 18px;
    }
}




.publisher--image{
    
    @include profileImages;

}

.post--paragraph {
    font: 500 1.2rem Roboto;
}
