@import 'variables';

.footer--container{
    display: flex;
    align-content: center;
    padding-left: 20px;
    background-color: #1D9BF0;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 15px;
    //position: absolute;
    @include mobile{
        width: 100%;
        height: auto;
        padding: 5px;
        justify-content: flex-start;
    }
    
}


.footer--icon{



    @include mobile{
          justify-content: flex-start;
          height: 50px;
          width: 50%;
    }
}
