@import "variables";

.profile--container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding:42px 42px;
    max-width: 700px;
    margin: 0 auto;

        @include mobile{
            padding: 2%;
            margin: 0 auto;
        }
}

.profile--image{
    @include profileImages;
}

.btn-edit-pfl{
    @include button-bg(#2ecc71);
    
    }

.btn--delete--pfl{
    @include button-bg($color-delete-btn); 
}

.Profile--info-tags{
    font-weight: 700;
}